
.container-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(184, 227, 213);
}
 
.formulario{
    background-color: rgb(139, 210, 186); 
    padding: 20px; /*espaçamento interno*/
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*sombra suave*/
    width: 300px;
}

form h3{
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial;
    color: rgb(37, 87, 87);
    
}

form h5{
    font-family: Arial;
    color: rgb(17, 41, 41);
}

input[type="text"], input[type="password"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #bccec9;
    border-radius: 5px;
    font-size: 14px;
}

input[type="submit"]{
    width: 100%;
    padding: 10px;
    background-color: rgb(52, 172, 154);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: rgb(76, 155, 158);
}

p{
    font-size: 14px;
    font-family: Arial;
}
